{% include "header.html" %}


<div class="container-fluid main-page">

  <div class="container w-75 intro">
    <main class="px-3">
      <h1 class="intro-header">Welcome to The Legislative Library</h1>
      <p class="lead intro-body">A website created for compliance and law professionals.
        On this site, you'll find actual legislation as well as simplified summaries in plain language for each
        section.
        We hope you find this site helpful and easy to use!</p>
      <div class="dropdown pb-4">
        <button type="button" class="btn btn-lg btn-outline-light dropdown-toggle fw-bold about-button"
          data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Learn More:
        </button>
        <div class="dropdown-menu p-4 about-us" style="max-width: 1400px;">
          <p class="about-us">We created this website to make it easier for compliance and law professionals
            to read and understand legislation. We believe that by providing a simplified summary of each
            section, professionals will be able to more easily and quickly digest the information and
            communicate it to others. We hope that this website will help make the law more accessible to
            everyone. On this website, you can click on the legislation button, find the
            legislation you are looking for, and it will be laid out in a simple and easy-to-understand
            format.</p>
        </div>
      </div>
      <!-- <p class="lead">
                <a href="#" class="btn btn-secondary fw-bold">Learn more</a>
            </p> -->
    </main>
  </div>
</div>


{% include "footer.html" %}